{% extends "newfeed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
<div class="content-section" style="text-align: center">
    <form class=""  method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="card-header" style="text-align: center;" style="border-width: 0em;">
                        <h1>Viết confession</h1>
                <p>Có điều gì sao không kể cùng JS....</p>
                    </div>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Send</button>
        </div>
    </form>
  </div>
</div>

 </main>
{% endblock content %}