{% extends "newfeed/base.html" %}

{% block content %}
 <!-- Navbar-end -->
    <!-- Jumbotron -->
    <<div class="card border-0" style="text-align: center;">
                    <div class="card-header" style="text-align: center;" style="border-width: 0em;">
                        <h1>Document</h1>
                    </div>
                    <div class="card-body">
    <h1 class="challenge-category">Programming Fundamentals</h1>
    <div class="portfolio-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/b006c6f0dfd8408298bd5c812edf2955.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/37320" target="_blank"><h3>Python</h3></a>
                            <p>Python là một ngôn ngữ lập trình thông dịch (interpreted), hướng đối tượng (object-oriented), và là một ngôn ngữ bậc cao (high-level) ngữ nghĩa động (dynamic semantics).</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/18c48363b5a04c929bfa00b058344ef8.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/522901" target="_blank"><h3>C++</h3></a>
                            <p>C++ là một loại ngôn ngữ lập trình bậc trung (middle-level), là một phần mở rộng của ngôn ngữ lập trình C.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/da318d092f204033ba4dc82f734ed353.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/522901" target="_blank"><h3>C</h3></a>
                            <p>C là ngôn ngữ rất có hiệu quả và được ưa chuộng nhất để viết các phần mềm hệ thống, mặc dù nó cũng được dùng cho việc viết các ứng dụng. Ngoài ra, C cũng thường được dùng làm phương tiện giảng dạy trong khoa học máy tính mặc dù ngôn ngữ này không được thiết kế dành cho người nhập môn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-area">
        <div class="container">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/1746a0f0cace43d7ac82eb1bcea884c1.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/37320" target="_blank"><h3>C#</h3></a>
                            <p>C# là ngôn ngữ lập trình hiện đại, hướng đối tượng và nó được xây dựng trên nền tảng của hai ngôn ngữ mạnh nhất là C++ và Java.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/7fa08323edda42e98e1aeabcfd9f1ea6.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/3483" target="_blank"><h3>Java</h3></a>
                            <p>Java là một ngôn ngữ lập lập trình, được phát triển bởi Sun Microsystem vào năm 1995, là ngôn ngữ kế thừa trực tiếp từ C/C++ và là một ngôn ngữ lập trình hướng đối tượng..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/060d5e3613174df89ba4fcf3ed7384a6.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/136749" target="_blank"><h3>JavaScript</h3></a>
                            <p>JavaScript là một ngôn ngữ lập trình đa nền tảng (cross-platform), ngôn ngữ lập trình kịch bản, hướng đối tượng. JavaScript là một ngôn ngữ nhỏ và nhẹ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="challenge-category">Web Front-end</h1>
    <div class="portfolio-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://www.kindpng.com/picc/m/23-237366_transparent-html-logo-png-png-download.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://www.sololearn.com/Course/HTML/" target="_blank"><h3>HTML</h3></a>
                            <p>HTML là ngôn ngữ đánh dấu siêu văn bản chỉ rõ một trang Web sẽ được hiển thị như thế nào trong một trình duyệt. Sử dụng các thẻ và các phần tử html.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://www.my-mooc.com/uploads/mooc/logo/89aedc8f9bace257c16897a5071c4e6423d9bec8.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://www.sololearn.com/Course/CSS/" target="_blank"><h3>CSS</h3></a>
                            <p>CSS được dùng để miêu tả cách trình bày các tài liệu viết bằng ngôn ngữ HTML và XHTML</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="challenge-category">Web Back-end</h1>
    <div class="portfolio-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://logodix.com/logo/1625748.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://www.sololearn.com/Course/PHP/" target="_blank"><h3>PHP</h3></a>
                            <p>PHP viết tắt hồi quy của "Hypertext Preprocessor", là một ngôn ngữ lập trình kịch bản được chạy ở phía server nhằm sinh ra mã html trên client.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://logodix.com/logo/2052397.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://www.sololearn.com/Course/Ruby/" target="_blank"><h3>Ruby</h3></a>
                            <p>Ruby là ngôn ngữ script hướng đối tượng free. Vào năm 1993, kỹ sư người Nhật tên là Matsumoto Yukihiro đã bắt đầu phát triển ngôn ngữ này và công khai nó vào năm 1995.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://tek4.vn/wp-content/uploads/2018/08/go-programming-language.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://www.cosmiclearn.com/go/" target="_blank"><h3>Golang</h3></a>
                            <p>Go là một ngôn ngữ lập trình được thiết kế dựa trên tư duy lập trình hệ thống. Go được phát triển bởi Robert Griesemer, Rob Pike và Ken Thompson tại Google vào năm 2007. Điểm mạnh của Go là bộ thu gom rác và hỗ trợ lập trình đồng thời.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="challenge-category">Specialized Skills</h1>
    <div class="portfolio-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/3f924049f9af4f95b0fd406b8baebe52.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/325831" target="_blank"><h3>Computer Hardware</h3></a>
                            <p>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/ec5c9eda632842eb9ad3146b4521e11a.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="" target="_blank"><h3>Computer Software</h3></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/c6b8d5cfe9ff4b56887e8751d37a1c61.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/352569" target="_blank"><h3>Computer Network</h3></a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-area">
        <div class="container">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/069a0cf95bcb4cac86fafe27f0f98238.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/414181" target="_blank"><h3>AWS Basics</h3></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/b7fa55b1f69c4852a59543c47d908229.jpg" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/406359" target="_blank"><h3>Cloud Computing</h3></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-portfolio">
                        <img src="https://codelearnstorage.s3.amazonaws.com/CodeCamp/CodeCamp/Upload/Course/ad362eea1d104541b7a4be04da1902ca.png" class="portfolio-img img-fluid"></img>
                        <div class="portfolio-text">
                            <a href="https://codelearn.io/learning/detail/260355" target="_blank"><h3>SQL Basics</h3></a>
                            <p> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
<!-- footer -->
{% endblock content %}
