{% extends "newfeed/base.html" %}
{% load static %}
{% block content %}
  <div class="container" ;>
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0" style="text-align: center;">
                    <div class="card-header" style="text-align: center;" style="border-width: 0em;" >
                        <h1>Sự kiện JS</h1>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><i>Tất niên JS  </i></h5>
                        <p class="card-text text-muted"></p>
                        <a href="https://www.facebook.com/fu.jsclub/" class="btn btn-primary">Tham gia ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><img src="{% static "newfeed/img/1.jpg" %}" width="600" height="400" alt=""></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3><i> Sự kiện đáng nhớ trong kí ức mỗi lứa JS</i></i></h3>
                <p style="text-align: justify;">Tất niên JS là ngày lễ được tổ chức trong dịp tết hàng năm. Tại đây các thành viên câu lạc bộ sẽ được trải nghiêm một cái tết mới lạ và đầm ấm cùng các thành viên JS khác. Được tổ chức bởi ban chủ nhiệm của câu lạc bộ JS, sự kiện được chuẩn bị tổ chức một cách chu đáo, bao gồm phần lễ và phần hội. Các JS-ers được hòa mình vào không khí vui tươi ngày tết và tham gia vào những hoạt động của lễ hội tết truyền thống
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <h3 style="text-align: center;"><i>Có những gì?</i></h3>
                    <p style="text-align: justify;">Nếu bạn thích tụ tập? JS có những người bạn sẽ cùng đồng hành cùng trong chuyến đi chơi này!. Các JS-ers luôn năng động, nhiệt tình, hết mình và luôn cùng bạn quẩy tới nóc từ sáng đến tối và đến sáng hôm sau... Đảm bảo bạn sẽ có một dịp được cháy hết mình với đam mê, được trải nghiệm những cảm xúc thăng trầm, vui vẻ và đôi lúc sẽ có những khoảng lặng đầy sâu lắng nhưng cũng thật ý nghĩa. Và nếu bạn thích có những người bạn mới? Các JS-ers luôn sẵn lòng mở rộng vòng tay để đón lấy bạn. Họ sẽ luôn là những người bạn tốt, biết yêu thương, chia sẻ và thậm chi sẽ hết mình giúp đỡ bạn, cùng bạn vượt qua những khó khăn và thử thách trong những tháng năm đại học. Còn chần chờ gì mà không đón nhận những con người đáng yêu, thân thiện, luôn luôn chờ bạn để có được tình bạn đẹp này?
                    </p>

                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-sm-12">
                <h3 style="text-align: center;"><i>Hoạt động</i></h3>
                <p style="text-align: justify;">Trong những ngày tết, có một đặc điểm không thể thiếu mà được coi là tinh hoa, hồn túy của những ngày tết đó là những chiếc bánh chưng được gói ghém vuông vức. Đây là hoạt động mà ban chủ nhiệm cho rằng sẽ có ý nghĩa lớn giúp các thành viên JS-ers đoàn kết với nhau để hoàn thành cuộc thi gói bánh và giúp họ hiểu hơn và thêm yêu nét đặc sắc của truyền thống bánh chưng ngày Tết.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><img src="{% static "newfeed/img/6.jpg" %}" width="500" height="400"></div>
            <div class="col-sm-6"><img src="{% static "newfeed/img/5.jpg" %}" width="500" height="400"></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <br><img src="{% static "newfeed/img/4.jpg" %}" width="500" height="400"></div>
            <div class="col-sm-6">
                <br><img src="{% static "newfeed/img/3.jpg" %}" width="500" height="400"></div>
        </div>
        <div class="row">
            <p></p>
        </div>
    </div>
{% endblock content %}
