{% extends "newfeed/base.html" %}
{% load static %}
{% block content %}

  <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0" style="text-align: center;">
                    <div class="card-header" style="text-align: center;" style="border-width: 0em;">
                        <h1>Sự kiện JS</h1>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><i>72h Trải nghiệm ở SaPa  </i></h5>
                        <p class="card-text text-muted"></p>
                        <a href="https://www.facebook.com/fu.jsclub/" class="btn btn-primary">Tham gia ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><img src="https://i.imgur.com/1hYvTCl.jpg" width="600" height="400" alt=""></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3><i>Sự kiện mang lại sự thanh tịnh trong tâm hồn</i></i></h3>
                <p style="text-align: justify;">
                    72h ở Sapa là sự kiện mà các JS-ers sẽ được cùng nhau trải nghiệm những khoảnh khắc độc đáo và mới lại. Hòa mình vào bầu không khí trong lành và mát mẻ, JS-ers sẽ tìm được những khoảnh khắc mà tâm hồn được thanh lọc và thư ĩan
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <h3 style="text-align: center;"><i>Có những gì?</i></h3>
                    <p style="text-align: justify;">Một bữa lẩu ấm cúng trong thời tiết mát lạnh, Chương trình đốt lửa và cùng nhau ngồi lắng nghe những câu chuyện về trải nghiệm cuộc sống, đây là dịp mà các JS-ers sẽ tìm được những người bạn tâm giao đồng điệu trong tâm hồn, qua đó gắn kết những thành viên trong câu lạc bộ
                    </p>

                </div>
            </div>
        </div>

    </div>


<!-- footer -->
{% endblock content %}
