{% extends "newfeed/base.html" %}

{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
  <div class="alert alert-info">
      Chúng tôi đã gửi yêu cầu tới email của bạn
  </div>
          </div>

 </main>
{% endblock content %}
