{% extends "newfeed/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
  <div class="content-section">
    <form class=""  method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Lấy lại mật khẩu</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Yêu cầu lấy lại mật khẩu</button>
        </div>
    </form>
  </div>
</div>

 </main>
{% endblock content %}
